<div *ngIf="loginService.verifConnexion();else noConnect">
  <div *ngIf="user$ |async as user">

    <div class="container">
      <h1 class="mt-3 flex-row d-flex justify-content-center" id="title">{{user.pseudo}}</h1>
      <div class="row">
        <div class="col">
          <img class="d-flex " src="/assets/icon_pers.png">
        </div>
        <div class="col">
          <mat-card class="mt-2 " id="card">
            <mat-card-content>
              <div class="mt-2" id="prenom">
                <h2>Prenom : {{user.firstname}}</h2>
              </div>
              <div id="nom">
                <h2>Nom : {{user.name}}</h2>
              </div>
              <div id="telephone">
                <h2>Téléphone : {{user.phone}}</h2>
              </div>
              <div id="email">
                <h2>Email : {{user.email}}</h2>
              </div>
              <div id="campus">
                <h2>Campus : {{user.campus}}</h2>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col"></div>
      </div>
      <div class="mt-3 flex-row d-flex justify-content-center">
        <button mat-raised-button color="accent" [routerLink]="'/home'">Retour</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noConnect>
  <div class="container ">
    <h1 class="mt-3 flex-row d-flex justify-content-center">Vous n'êtes pas connecté !</h1>
    <div class="mt-3 flex-row d-flex justify-content-center">
      <button mat-raised-button color="accent" [routerLink]="'/'">Connection</button>
    </div>
  </div>
</ng-template>
