<div *ngIf="loginService.verifConnexion();else noConnect">
  <div class="container">
    <h1 class="mt-3 flex-row d-flex justify-content-center" id="title">Mon Profil</h1>
    <h1 class="flex-row d-flex justify-content-center">{{login}}</h1>
    <div class="row">
      <div class="col">
        <img class="d-flex " src="/assets/icon_pers.png">
      </div>
      <div class="col">
        <mat-card class="mt-2 " id="card">
          <mat-card-content>
            <div class="mt-2" id="prenom">
              <h2>Prenom : {{prenom}}</h2>
            </div>
            <div id="nom">
              <h2>Nom : {{nom}}</h2>
            </div>
            <div id="telephone">
              <h2>Téléphone : {{telephone}}</h2>
            </div>
            <div id="email">
              <h2>Email : {{email}}</h2>
            </div>
            <div id="campus">
              <h2>Campus : {{campus}}</h2>
            </div>
            <div class="mt-3 flex-row d-flex justify-content-center">
              <button type="file"  mat-raised-button color="accent">Upload Image</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col"></div>
    </div>
    <div class="mt-3 flex-row d-flex justify-content-center">
      <button mat-raised-button color="accent" [routerLink]="">Retour</button>
    </div>
  </div>
</div>

<ng-template #noConnect>
  <div class="container ">
    <h1 class="mt-3 flex-row d-flex justify-content-center">Vous n'êtes pas connecté !</h1>
    <div class="mt-3 flex-row d-flex justify-content-center">
      <button mat-raised-button color="accent" [routerLink]="'/'">Connection</button>
    </div>
  </div>
</ng-template>
