<p>La grosse bite de DAVY!</p>

<h1><mat-label>  Créer une sortie </mat-label> </h1>
<form class="example-form">
  <div class="parent">
    <div class="div1">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nom de la sortie</mat-label>
        <input matInput placeholder="Ex. Cinéma" >
      </mat-form-field>
    </div>

    <div class="div2">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Campus</mat-label>
        <input matInput placeholder="Ex.Nantes">
      </mat-form-field>
    </div>

    <div class="div3">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Date et heure de la sortie </mat-label>
        <input matInput placeholder="Ex.Nantes">
      </mat-form-field>
    </div>

    <div class="div4">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ville</mat-label>
        <input matInput placeholder="Ex.Nantes">
      </mat-form-field>
    </div>

    <div class="div5">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Date limite d'inscription</mat-label>
        <input matInput placeholder="Ex.Nantes">
      </mat-form-field>
    </div>

    <div class="div6">
      <h4>Basic mat-select</h4>
      <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <!--<mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>-->
        </mat-select>
      </mat-form-field>
    </div>

    <div class="div7">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre de places :</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </div>

    <div class="div8">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Campus</mat-label>
        <input matInput placeholder="Ex.Nantes">
      </mat-form-field>
    </div>

    <div class="div9">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Durée :</mat-label>
        <input matInput placeholder="90">
      </mat-form-field>
    </div>

    <div class="div10">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Campus</mat-label>
        <input matInput placeholder="Ex.Nantes">
      </mat-form-field>
    </div>

    <div class="div11">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Campus</mat-label>
        <textarea matInput placeholder="Commentaire"></textarea>
      </mat-form-field>

    </div><div class="div12">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Latitude</mat-label>
        <input matInput placeholder="">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Longitude</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </div>
  </div>
</form>


<!--
<mat-label>  Créer une sortie </mat-label>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nom de la sortie</mat-label>
    <input matInput placeholder="Ex. Cinéma" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Campus</mat-label>
    <textarea matInput placeholder="Ex.Nantes"></textarea>
  </mat-form-field>
</form>-->
