<h1><mat-label>  Créer une sortie </mat-label> </h1>
<div class="row justify-content-center">
<form [formGroup]="registerForm" ]>

  <div class="row justify-content-center">
  <div class="d-flex col-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nom de la sortie</mat-label>
      <input matInput placeholder="Ex. Cinéma" formControlName="name">
    </mat-form-field>
  </div>
  <div class="d-flex col-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Campus</mat-label>
      <input matInput placeholder="Ex.Nantes" formControlName="campus" [disabled]=true>
    </mat-form-field>
  </div>
  </div>

<div class="row justify-content-center">
  <div class="d-flex col-4">
    <mat-form-field appearance="fill">
      <mat-label>Date et heure de la sortie</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateSortie">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="d-flex col-4" style="margin-left:8rem;">
    <mat-form-field appearance="fill">
      <mat-label>Ville</mat-label>
      <mat-select formControlName="ville">
        <!--<mat-option *ngFor="let ville of listVille" [value]="ville">
          {{ville}}
        </mat-option>--->
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-4">
    <mat-form-field appearance="fill">
      <mat-label>Date limite inscription</mat-label>
      <input  matInput [matDatepicker]="sndPicker" formControlName="dateLimite">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="sndPicker"></mat-datepicker-toggle>
      <mat-datepicker #sndPicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="d-flex col-4" style="margin-left:8rem;">
    <mat-form-field appearance="fill">
      <mat-label>Lieu</mat-label>
      <mat-select formControlName="lieu" *ngIf="villes$ | async as villes">
        <mat-option *ngFor="let element">
          {{element.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
      <button style="margin-left: 1rem" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
        <mat-icon>add</mat-icon>
      </button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="d-flex col-4">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre de places :</mat-label>
        <input matInput placeholder="" formControlName="nbPlace">
      </mat-form-field>
  </div>
  <div class="d-flex col-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Rue</mat-label>
      <input matInput placeholder="Ex.François Jospeh Talma" formControlName="adresse" [disabled]=true>
    </mat-form-field>
  </div>
</div>

<div class="row justify-content-center">
  <div class="d-flex col-4">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Durée :</mat-label>
        <input matInput placeholder="90" formControlName="duree">
      </mat-form-field>
  </div>
  <div class="d-flex col-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Code Postal</mat-label>
      <input matInput placeholder="Ex.44000" formControlName="cp" [disabled]=true>
    </mat-form-field>
  </div>
</div>

<div class="row justify-content-center">
  <div class="d-flex col-4">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Commentaire</mat-label>
        <textarea id="comm" matInput placeholder="Commentaire" formControlName="commentaire"></textarea>
      </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Latitude</mat-label>
      <input matInput placeholder="" formControlName="latitude">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Longitude</mat-label>
      <input matInput placeholder="" formControlName="longitude">
    </mat-form-field>
  </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <button type="submit" mat-raised-button color="accent" class="publier" (click)="publish()">Publier</button>
    </div>
    <div class="col">
      <button type="submit" mat-raised-button color="accent" class="Register" (click)="register()" >Enregistrer</button>
    </div>
    <div class="col">
      <button type="submit" mat-raised-button color="accent" class="cancel" [routerLink]="'/home'">Annuler</button>
    </div>
  </div>

</form>

</div>
<!--
<mat-label>  Créer une sortie </mat-label>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nom de la sortie</mat-label>
    <input matInput placeholder="Ex. Cinéma" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Campus</mat-label>
    <textarea matInput placeholder="Ex.Nantes"></textarea>
  </mat-form-field>
</form>-->
