<h1><mat-label>  Créer une sortie </mat-label> </h1>
<div class="row justify-content-center">
<form class="example-form">

  <div class="row justify-content-center">
  <div class="col-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nom de la sortie</mat-label>
      <input matInput placeholder="Ex. Cinéma" >
    </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Campus</mat-label>
      <input matInput placeholder="Ex.Nantes">
    </mat-form-field>
  </div>
  </div>

<div class="row justify-content-center">
  <div class="col-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Date et heure de la sortie </mat-label>
      <input matInput placeholder="Ex.Nantes">
    </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field appearance="fill">
      <mat-label>Ville</mat-label>
      <mat-select>
        --<mat-option *ngFor="let ville of listVille" [value]="ville">
          {{ville}}
        </mat-option>-
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Date limite d'inscription</mat-label>
      <input matInput placeholder="Ex.Nantes">
    </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field appearance="fill">
      <mat-label>Lieu</mat-label>
      <mat-select>
        <mat-option *ngFor="let lieu of listLieu" [value]="lieu">
          {{lieu}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="example-button-container">
      <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
        <mat-icon>plus</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-4">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre de places :</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Campus</mat-label>
      <input matInput placeholder="Ex.Nantes">
    </mat-form-field>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-4">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Durée :</mat-label>
        <input matInput placeholder="90">
      </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Campus</mat-label>
      <input matInput placeholder="Ex.Nantes">
    </mat-form-field>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-4">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Campus</mat-label>
        <textarea matInput placeholder="Commentaire"></textarea>
      </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Latitude</mat-label>
      <input matInput placeholder="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Longitude</mat-label>
      <input matInput placeholder="">
    </mat-form-field>
  </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <button type="submit" mat-raised-button color="accent" >Publier</button>
    </div>
    <div class="col">
      <button type="submit" mat-raised-button color="accent" >Enregistrer</button>
    </div>
    <div class="col">
      <button type="submit" mat-raised-button color="accent" >Annuler</button>
    </div>
  </div>

</form>

</div>
<!--
<mat-label>  Créer une sortie </mat-label>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nom de la sortie</mat-label>
    <input matInput placeholder="Ex. Cinéma" >
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Campus</mat-label>
    <textarea matInput placeholder="Ex.Nantes"></textarea>
  </mat-form-field>
</form>-->
